<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YzMember.Properties.Settings.yzConnectionString" connectionString="Data Source=IT-XJL;Initial Catalog=yz;Persist Security Info=True;User ID=sa;Password=2347"
            providerName="System.Data.SqlClient" />
        <add name="YzMember.Properties.Settings.yzMemberConnectionString"
            connectionString="Data Source=YOUR_SERVER;Initial Catalog=yz;Persist Security Info=True;User ID=YOUR_USER;Password=YOUR_PASSWORD"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>